nav {
     background-color: black;
     color: #f5e7e0;
}
.navbar-nav a {
     color: #f5e7e0;
}
.navbar-nav a:hover {
     color: #ad2330;
     text-decoration: underline;
     font-weight: bold;
}
.navbar-nav a:active {
     color: #ad2330;
     text-decoration: underline;
     font-weight: bold;
}
.nav-item {
     padding: 5px 10px;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
     /* transform: rotate(90deg); */
}

.navbar-toggler-icon {
     color: black;
     margin-right: 10px;
     height: 50px;
     transition: transform 0.3s ease-in-out;
}

.logoo {
     height: 50px;
     width: 50px;
     margin-left: 10px;
}